# Environment
NODE_ENV=development
PORT=8000

# Allowed Origins (comma-separated)
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173

# Microservices URLs
AUTH_SERVICE_URL=http://localhost:3001
USER_SERVICE_URL=http://localhost:3004
ORGANIZATION_SERVICE_URL=http://localhost:3013
CHAT_SYSTEM_SERVICE_URL=http://localhost:3006
CHAT_ROOM_SERVICE_URL=http://localhost:3007
CHAT_USER_SERVICE_URL=http://localhost:3008
VOICE_SERVICE_URL=http://localhost:3005
TASK_SERVICE_URL=http://localhost:3009
DOCUMENT_SERVICE_URL=http://localhost:3010
FRIEND_SERVICE_URL=http://localhost:3002
NOTIFICATION_SERVICE_URL=http://localhost:3003
ROLE_PERMISSION_SERVICE_URL=http://localhost:3014
