# Voice Service Environment Variables
# Copy this file to .env and update the values

# Server
NODE_ENV=development
PORT=3005

# Database
MONGODB_URI=mongodb+srv://nguyenhuy6012004_db_user:cO3lz2ND2ysSSR9d@cluster0.ytwqihq.mongodb.net/voice_db

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# External Services
USER_SERVICE_URL=http://user-service:3004
ORGANIZATION_SERVICE_URL=http://organization-service:3013

