# Notification Service Environment Variables
# Copy this file to .env and update the values

# Server
NODE_ENV=development
PORT=3003

# Database
MONGODB_URI=mongodb+srv://nguyenhuy6012004_db_user:nhathuy0305@cluster0.ccaayy0.mongodb.net/notification_db

# Redis
REDIS_HOST=redis
REDIS_PORT=6379



