NODE_ENV=development
PORT=3001
MONGODB_URI=mongodb+srv://nguyenhuy6012004_db_user:cO3lz2ND2ysSSR9d@cluster0.kzplwfs.mongodb.net/auth_db
JWT_SECRET=your-super-secret-jwt-key-change-in-production
JWT_REFRESH_SECRET=your-refresh-secret-key-change-in-production
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
