# Chat Service Environment Variables
# Copy this file to .env and update the values

# Server
NODE_ENV=development
PORT=3006

# Database
MONGODB_URI=mongodb+srv://nguyenhuy6012004_db_user:BSSMvC5eidbFScz2@cluster0.wryo6qu.mongodb.net/chat_db

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# JWT (để verify token từ auth-service)
JWT_SECRET=your-secret-key-change-in-production

# External Services
USER_SERVICE_URL=http://user-service:3004
ORGANIZATION_SERVICE_URL=http://organization-service:3013
